<nav class="navbar navbar-expand-lg bg-light sticky-top bg-white border-bottom" style="border-color: #afafaf">
    <div class="container-fluid w-75">
        <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag ("logo.png") , width: "100rem"%>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <%= form_with(url: users_path, method: :get, data: {turbo_frame: "search_results", controller: "search-results"}, class: "d-flex") do |f| %>
                <div class="dropdown">
                    <%= f.text_field :query, class: "form-control me-2 border-0", placeholder:"Search","aria-label" => "Search",
                    style: "background: #efefef;", "data-bs-toggle" => "dropdown", "aria-expanded" => "false", data:{action: "input->search-results#search"} %>
                    <ul class="dropdown-menu p-4" style="width:25rem">
                        <%= render "layouts/search_result", users: []%>
                    </ul>
                </div>
                <% end%>
            </div>

            <div class="navbar-collapse gap-3">
                <%= link_to root_path, class: "text-dark" do %> <i class="fa-solid fa-house fa-xl"></i> <%end%>
                <%= link_to root_path, class: "text-dark" do %> <i class="fa-brands fa-facebook-messenger fa-xl"></i>
                <%end%>
                <a type="button" class="text-dark" data-bs-toggle="modal" data-bs-target="#postModal">
                    <i class="fa-regular fa-square-plus fa-xl"> </i>
                </a>
                <i class="fa-regular fa-compass fa-xl"></i>
                <div class="dropstart">
                    <i class="fa-regular fa-heart fa-xl" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu p-4">
                        <% current_user.follow_requests.each do |request| %>
                        <li>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <%= render "layouts/user_profile_pic", user: request.follower%>
                                    <div class="d-flex flex-column mx-2 justify-content-center">
                                        <%= link_to user_path(id: request.follower_id), class: "text-dark", style: "text-decoration:none;" do %>
                                        <small class="fw-bold"
                                            style="max-width: 5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= request.follower.username%></small>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between"
                                    style="width:10.5rem">
                                    <%= button_to accept_follow_path(follow_id: request.id), method: :post, class: "btn btn-primary", style:"text-decoration:none" do %>
                                    <small class="fw-bold text-white"> Accept</small>
                                    <% end %>
                                    <%= button_to decline_follow_path(follow_id: request.id), method: :delete, class: "btn btn-danger", style:"text-decoration:none" do %>
                                    <small class="fw-bold text-white"> Decline</small>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <div class="dropdown">
                    <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= render "layouts/user_profile_pic", user: current_user%>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li> <%= link_to "Profile", user_path(id: current_user.id), class: "dropdown-item" %>
                        </li>
                        <li> <%= link_to "Setting", edit_user_registration_path, class: "dropdown-item" %>
                        </li>
                        <li> <%= button_to "Sign Out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>
<%= render 'posts/form', post: Post.new %>